* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border:1px solid red; */
    /* height: 20px; */
    /* width:100%; */
}


.dflex {
    display: flex;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.linkbutton {
    /* border: red; */
    all: unset;
    background-color: #d1d1d1;
    padding: 10px 15px;
    cursor: pointer;
    width: 80px;
    text-align: center;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.dnone {
    display: none;
}

.linkbutton:hover {
    background-color: #f1f1f1 !important;
}

#ddbtn {
    all: unset;
    background-color: #d1d1d1;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    position: absolute;
    top: 0px;
    left: 10px;
    height: 40px;
    width: 40px !important;
    cursor: pointer;
}

#navbar {
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #d1d1d1;

}

.component {
    padding: 40px 10%;
}

#homecomp {
    background-image: url(../images/foodsbg.jpg);
    /* height: 600px; */
}

#titlediv {
    margin-top: 50px;
    text-align: center;
    color: white;
    border-radius: 10px;
    border: 50px solid rgba(247, 243, 243, 0.388);
    background: #000;
    /* padding: 10%0%; */
}

#title {
    padding: 50px 50px;
}
.services{
    padding:50px 10%;
}